@import url('../styles/sobre.css');
@import url('../styles/reset.css');
@import url('../styles/nav.css');

#container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.home-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.home-container img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.home-container h1 {
  font-weight: normal;
  color: var(--text-color);
  font-size: 1rem;
  color: var(--text-color);
  cursor: pointer;
}

.home-container h2 {
  text-align: left;
  font-size: 1rem;
  font-weight: normal;
  color: var(--primary-color);
  cursor: pointer;
}

#container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social img {
  width: 2rem;
  height: 2rem;
  margin: 1rem 0.6rem;
  opacity: 0.2;
}

.social img:hover {
  filter: invert(42%) sepia(30%) saturate(6844%) hue-rotate(326deg)
    brightness(96%) contrast(90%);
  opacity: 1;
}

footer p {
  color: #1a1a2e;
  font-size: 1rem;
}

@media (min-width: 850px) {
  .home-container {
    display: flex;
    margin-top: 3rem;
  }
}

@media (min-width: 481px) {
  .home-container h1 {
    font-size: 3rem;
    font-weight: 600;
  }
  .home-container h2 {
    font-size: 1.5rem;
    font-weight: 400;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .home-container h1 {
    font-size: 3rem;
    font-weight: 600;
  }
  .home-container h2 {
    font-size: 2.3rem;
    font-weight: 400;
  }
  .social img {
    width: 2rem;
    height: 2rem;
    margin-top: 2rem;
  }
}
