:root {
  --text-color: #637373;
  --primary-color: #fd5e53;
  --hover-color: #f54748;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  list-style: none;
  text-decoration: none;
}

body,
html {
  margin: 0;
  background-color: var(--primary-bg);
}
