* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

body {
  background-color: #f6f5f5;
}

#container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

header img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

header h1 {
  font-weight: normal;
  color: #e94560;
  font-size: 1rem;
}

header h2 {
  text-align: left;
  font-size: 1rem;
  font-weight: normal;
  color: #1a1a2e;
}

nav ul {
  display: flex;
  margin-top: 1.4rem;
}

nav ul a {
  margin: 0rem 0.1rem;
  text-decoration: none;
  font-weight: 600;
}

nav ul a li {
  font-family: 'Roboto', sans-serif;
  color: #1a1a2e;
  font-size: 0.8rem;
  text-transform: uppercase;
}

nav ul a li:hover {
  color: #e94560;
}

.social img {
  width: 100px;
  height: 100px;
  margin: 2rem 0.5rem;
}

.social img:hover {
  filter: invert(42%) sepia(30%) saturate(6844%) hue-rotate(326deg)
    brightness(96%) contrast(90%);
}

footer p {
  color: #1a1a2e;
  font-size: 1rem;
}

@media (min-width: 1281px) {
  header h1 {
    font-size: 4.5rem;
  }
  header h2 {
    font-size: 2rem;
  }
  .social img {
    width: 3rem;
    height: 3rem;
    margin: 2rem 1.2rem;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  header h1 {
    font-size: 4.5rem;
  }
  header h2 {
    font-size: 2.5rem;
  }
  .social img {
    width: 3rem;
    height: 3rem;
    margin: 2rem 1.2rem;
  }
}

@media (min-width: 850px) {
  header {
    display: flex;
    margin-top: 3rem;
  }
  nav ul a li {
    font-size: 1.3rem;
    margin: 0 1rem;
  }
  .social img {
    margin: 2rem 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  header h1 {
    font-size: 4.5rem;
  }
  header h2 {
    font-size: 2.5rem;
  }
  nav ul a li {
    font-size: 1.2rem;
    margin: 0rem 1rem;
  }
  .social img {
    width: 3rem;
    height: 3rem;
    margin: 2rem 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  header h1 {
    font-size: 4.5rem;
  }
  header h2 {
    font-size: 2.5rem;
  }
  nav ul a li {
    font-size: 1.2rem;
    margin: 0rem 1rem;
  }
  .social img {
    width: 3rem;
    height: 3rem;
    margin: 2rem 1rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  header h1 {
    font-size: 4rem;
  }
  header h2 {
    font-size: 2.3rem;
  }
  nav ul a li {
    font-size: 1.2rem;
    margin: 0rem 1rem;
  }
  .social img {
    width: 3rem;
    height: 3rem;
    margin: 2rem 1rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  header h1 {
    font-size: 3rem;
  }
  header h2 {
    font-size: 2.3rem;
  }
  nav ul a li {
    font-size: 0.8rem;
    margin: 0rem 1rem;
    font-weight: 700;
  }
  .social img {
    width: 2rem;
    height: 2rem;
    margin-top: 2rem;
  }
}
